# .gitignore (di folder root)

# Abaikan file .env Backend
/warung-se-be/.env

# Abaikan file .env Frontend
/warung-se-fe/.env

# Abaikan folder 'vendor' BE
/warung-se-be/vendor/

# Abaikan folder 'node_modules' FE
/warung-se-fe/node_modules/
/warung-se-fe/dist/

# Abaikan file sistem operasi
.DS_Store
Thumbs.db